body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(83, 82, 82);
  font-family: serif;
}

#container {
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px;
  height: 220px;
  width: 350px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(209, 188, 2);
}

#container h1 {
  margin-top: 2px;
  margin-bottom: -2px;
}

#formatacao {
  float: left;
}

#formatacao input {
  text-align: center;
  border-radius: 10px;
  border-color: transparent;
  width: 75px;
  margin: 2px;
}

#btnPadrao {
  background-color: black;
  color: rgb(209, 188, 2);
  border-radius: 5px;
  border: transparent;
  margin-top: 10px;
  height: 27px;
  width: 100px;
}

.formatacaoResultado {
  background-color: black;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  padding: 10px;
  padding-bottom: 18px;
}

#container2 {
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 20px;
  border: solid 1px;
  height: 220px;
  width: 360px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(209, 188, 2);
}

#container2 h1 {
  margin-top: 1px;
  margin-bottom: -2px;
  font-size: 23px;
}

hr {
  width: 360px;
}

#formatacao2 input {
  text-align: center;
  border-radius: 10px;
  border-color: transparent;
  width: 75px;
  margin: 2px;
}

#container3 {
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px;
  height: 220px;
  width: 360px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(209, 188, 2);
}

#container3 h1 {
  margin-top: 2px;
  margin-bottom: -2px;
}

#container4 {
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px;
  height: 220px;
  width: 360px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(209, 188, 2);
}

#container4 h1 {
  margin-top: 2px;
  margin-bottom: -2px;
}

#formatacao3 input {
  text-align: center;
  border-radius: 10px;
  border-color: transparent;
  width: 75px;
  margin: 2px;
}

#container5 {
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px;
  height: 220px;
  width: 360px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: rgb(209, 188, 2);
}

#formatacao5 {
  margin: 0 auto;
  margin-top: 50px;
}

#formatacao5 h1 {
  margin-top: -50px;
  margin-bottom: -5px;
}

#formatacao5 input {
  text-align: center;
  border-radius: 10px;
  border-color: transparent;
  width: 300px;
  height: 30px;
  margin: 2px;
}
